
// Variables
@import 'Fonts';
@import 'Variable';
@import 'Function';

@import '../../public/bootstrap/css/bootstrap.min.css';



html {
    scroll-behavior: smooth;
    direction: rtl;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    direction: rtl;
    text-align: right;
}

body {
    font-family: $font-family-IranSans;
    font-size: $font-size;
    line-height: $line-height;
    color: $dark-color;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(288.66deg, $third-color 0.94%, $primary-color 80.38%);
    border-radius: 10px;
}

:root {
    scrollbar-color: $primary-color #fff !important;
    scrollbar-width: thin !important;
}

a {
    text-decoration: none;
    color: $primary-color;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;

    .sidebar {
        height: 100%;
        width: 12%;
        min-width: 50px;
        background: $primary-color;
        align-items: baseline;
        justify-content: center;
        padding: 1rem;

        .lg-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            li {
                width: 100px;
                margin: 10px auto;
            }

            a {
                color: $gray-light-color;
                transition: .5s ease-in-out;

                &:hover {
                    color: $light-color;
                    letter-spacing: .5px;

                }
            }


        }

        .sm-menu {
            display: none;
        }
        form{
            box-shadow: none;
            border: none;
            background: #a27b5c;
            padding: 0;
            border-radius: 40px;
            button{
                color: #fff;
                font-size: 13px;
                &:focus, &:hover,&:active{
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
            }
        }
    }

    &-content {
        width: 88%;
        overflow: hidden;

        .navbarlogin {
            width: 90%;
            padding:0 1rem;
            margin: 0 auto;
            height: 60px;

            &-line {
                width: 90%;
                height: 1px;
                margin: 0 auto;
                background: $primary-color;
            }
            img{
                width: 50px;
            }
            span{
                color: $third-color;
            }
            .nav_link{
                background: $third-color;
                border: none;
                border-radius: 50px;
                padding: 0 10px;
                span{
                    color: #fff;
                }
            }

        }

        .dashboard {
            overflow-y: scroll;
            padding: 2rem;
            height: 94vh;
            margin-top: 1rem;
            direction: ltr;
            background: #f9f9f9;
        }
    }

}